<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>515716750899-debsupsb2lnfj0m20p1h1hc8qdg9nueo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515716750899-debsupsb2lnfj0m20p1h1hc8qdg9nueo</string>
	<key>API_KEY</key>
	<string>AIzaSyBgqxdZXam5U4gQHQNldcolFJittC2Df-I</string>
	<key>GCM_SENDER_ID</key>
	<string>515716750899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lulong205.PetHelper</string>
	<key>PROJECT_ID</key>
	<string>pethelper-da585</string>
	<key>STORAGE_BUCKET</key>
	<string>pethelper-da585.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:515716750899:ios:db999b491cce0ce1</string>
	<key>DATABASE_URL</key>
	<string>https://pethelper-da585.firebaseio.com</string>
</dict>
</plist>